{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Create Applicant Account{% endblock %}

	
{% block body_block %}
		<h1>Create an Applicant Account</h1>
		
		{%  if user.is_authenticated %}
		<p>You are already logged in as {{ user }}<p/>
		<p><a href="{% url 'index-view' %}">Index</a></p>
		<p><a href="{% url 'logout-view' %}">Logout</a></p><br />
		{% else %}
		
		{% if registered %}
		<strong>Thank you for creating an account!</strong>
		<p>Now you can view jobs!</p>
		<br />
		
		{% else %}
		<p>Fill out the information below to create your account.</p>
		
		<form id="user_form" method="post" action="{% url 'applicant_register-view' %}"
				enctype="multipart/form-data">
				
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ applicant_form.as_p }}
			<input type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
		{% endif %}
		
{% endblock %}
