{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit {{ job }}{% endblock %}

	
{% block body_block %} 

		<h1>Edit {{ job }}</h1>
		
		{% if updated %}
		<strong>{{ job }} has been updated!</strong>
		{% else %}
		<p>Edit {{ job }}.</p>
		
		<form id="user_form" method="post" action="{% url 'job_edit-view' user.employer.slug job_title_slug %}"
				enctype="multipart/form-data">
				
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="submit" value="Update" />
		</form>
		{% endif %}
		
		<p><a href="{% url 'job-view' user.employer.slug job_title_slug %}">View {{ job }}</a></p>
		
{% endblock %}
